{% extends 'customer/base.html' %}
{% block content %}

<div class="w3-bar w3-large w3-black">
  <div class="w3-bar-item w3-left w3-black">Customer Portal: {{user.username}} {{user.customer.wallet}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_portal/logout/">Logout</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_portal/manage/">Manage</a>
  <a class="w3-ber-item w3-btn w3-teal w3-right" href="/customer_portal/search/">Search Cars</a>
</div>
<div class="w3-containet w3-center" style="padding:100px  ">
  <b>Car : {{vehicle.car_name}}</b>


  {% if user.cusstomer.wallet >= vehicle.cost_per_hour %}
  <form class="w3-container" action="/customer_portal/confirmed/" method="post">
    {% csrf_token %}
    <b>Price : N{{cost_per_hour}} per Hour</b><br><br>
    <lable>How many Hours?</lable>
    <input type="text" placeholder="2" name="hours"><br><br>
    <input class="w3-btn w3-teal" type="submit" value="Confirm My Order"><br><br>
    <input type="hidden" value="{{vehicle.id}}" name="id">
    <br><br>
    </from>

    {% else %}
    <h1> Your Wallet is to Low</h1>
    <a href="">Fund Your Wallet</a>
    {% endif %}


</div>
{% endblock %}